td, th {
  vertical-align: middle !important;
  text-align: center !important;
  font-weight: bold;
}

.input-group {
  margin: 20px 0px;
}

svg {
  height:150px;
}

td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
}

.map {
  margin-left: -50px;
}

.mapboxgl-control-container {
  display: none;
}

h1 {
  text-align: center;
  font-size: 70px !important;
}

.jumbotron {
  padding: 50px !important;
  background-color: skyblue !important;
  margin-top:10px;
}